---
const { items = [], className = "" } = Astro.props;
---

<ul class={`flex flex-wrap items-center gap-4 text-xs md:text-sm text-green-600 font-bold ${className}`}>
  {items.map(item => (
    <li class="flex items-center gap-2">
      <i class="fas fa-arrow-circle-right"></i>
      {item}
    </li>
  ))} 
</ul>
