---
export interface Props {
  title: string;
  subtitle?: string;
  displaybackgroundImage?: boolean;
  backgroundImage?: string;
}

const { 
  title, 
  subtitle, 
  displaybackgroundImage = false, 
  backgroundImage 
} = Astro.props;
---

<section 
  class="relative py-20 bg-cover bg-center bg-green-900"
  {...(displaybackgroundImage && backgroundImage ? { style: `background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(${backgroundImage})` } : {})}
>
	<div class="container">
		<div class="max-w-3xl mx-auto text-center text-white">
			<h1 class="text-4xl md:text-5xl font-bold mb-4 text-white">{title}</h1>
			{subtitle && <p class="text-xl md:text-2xl">{subtitle}</p>}
		</div>
	</div>
</section>