---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHeader from "../components/Sections/PageHeader.astro";
import Form from "../components/Global/Form.astro";
import TwoButtons from "../components/Global/TwoButtons.astro";
import RedCTA from "../components/RedCTA.astro";
import EmergencyPlumber from "../components/EmergencyPlumber.astro";
import Certificates from "../components/Global/Certificates.astro";
import Button from "../components/UI/Button.astro"; 
---

<BaseLayout
  title="Plumber Reviews - Sussex The Green Gardeners Experts | The Green Gardeners"
  description="Read our plumber reviews on The Green Gardeners, External Moling Experts, specialising in water supply pipe repairs, water supply pipe replacement, lead pipe replacements in London."
>
  <PageHeader 
    title="Water Mains and Plumber Repair Reviews" 
    backgroundImage="/uploads/water-main-Replacement-BB-Moling7.webp"
    displaybackgroundImage={true}
  />
  
  <section class="py-16">
    <div class="container">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center">
        <div class="space-y-6">
          <h2>Leave Us A Review</h2>
          <p>
            We are proud of our reviews, with over 140 reviews on Google, we are proud to be one of the most trusted external moling companies in Hertfordshire, Bedfordshire and London.<br/><br/>
            We are always looking to improve our services, so if you have used us before, please leave us a review on Google
          </p>
          <Button slot="actions" href="https://g.page/r/CevuH6bLV8UYEBM/review" variant="primary" size="sm" class="mb-2">
            Leave Us A Review
          </Button>
        </div>
        
        <div class="self-start space-y-6">
          <Form/>
          <Certificates/>
        </div>
      </div>
    </div>
  </section>

  <RedCTA />
  <EmergencyPlumber />

</BaseLayout>