<section class="py-16 bg-green-600 text-white">
    <div class="container space-y-8">
      
      <!-- Two Column Layout -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-start">
        <!-- Left Column -->
        <div class="space-y-2">
          <h3 class="text-white">The Green Gardeners are the experts in water supply pipe replacements.</h3>
          <p>
            If you require a new water main from the meter to the house, look no further than the mains water supply replacement experts The Green Gardeners. Many older homes were originally piped with either galvanised, copper or lead materials, and over time may have developed leaks along the way, particularly common in the water main pipe to the house.<br/><br/>
            These pipes when leaking or burst may often go unnoticed until you get a large water bill as they are generally under ground and not noticable. Low water pressure, rusty coloured water, and leaking pipes are just a few of the symptoms of poor quality piping. All will lead to pipework replacements.
          </p>
        </div>

        <div class="space-y-2">
          <h3 class="text-white">External Moling Experts</h3>
          <p>
            The Green Gardeners’s team have over 20 years of combined moling experience built up on hundreds of properties and sites. This means, no matter which one of our engineers turn up, we will always deliver a top notch professional service, no matter which type of work you require at your property. Lead pipe repair, lead pipe replacement, water supply pipe upgrade due to low water pressure or more!
          </p>
        </div>

      </div>
    </div>
  </section>