<div class="max-w-100 mx-auto px-4">
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-6 items-center justify-center">
          <img src="/uploads/images/approved-water-services-brennan-moling.webp" alt="Certification 1" class="h-24 w-auto object-contain mx-auto" alt="approved water services The Green Gardeners" loading="lazy" />
          <img src="/uploads/images/Brennan-Moling-CITB.png" alt="Certification 2" class="h-24 w-auto object-contain mx-auto" alt="cict construction certified The Green Gardeners" loading="lazy" />
          <img src="/uploads/images/Brennan-Moling-CSCS.png" alt="Certification 3" alt="construction skills certified The Green Gardeners" class="h-24 w-auto object-contain mx-auto" loading="lazy" />
          <img src="/uploads/images/Brennan-Moling-EUSR.png" alt="Certification 4" alt="energy and utility skills moling, water repair" class="h-24 w-auto object-contain mx-auto" loading="lazy" />
          <img src="/uploads/images/street-works-bb-moling-water-repair.webp" alt="Certification 5" alt="street works certified plumber The Green Gardeners" class="h-24 w-auto object-contain mx-auto" loading="lazy" />
          <img src="/uploads/images/watersafe-bbmoling-brennan-moling.png" alt="Certification 5" alt="water safe certified The Green Gardeners" class="h-24 w-auto object-contain mx-auto" loading="lazy" />
        </div>
      </div>