---
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 z-50 w-full bg-emerald-800 backdrop-blur-md shadow-sm">
  <div class="container flex items-center justify-between h-28">
    <a href="/" class="text-2xl font-bold text-primary-800 font-serif flex items-center">
      <img src="/uploads/greengardenersussex.jpg" alt="Green Gardeners - Heathfield, East Sussex Gardeners" class="h-28 p-2" />
    </a>
    
    <Navigation />
  </div>
</header>