---
import Button from "../UI/Button.astro"; 
---

<!-- <Button href="mailto:info@greengardenerssussex.com" variant="primary" size="sm" class="mb-2">
Email: info@greengardenerssussex.com
</Button> -->
<!-- <Button href="tel:07774887575" variant="primary" size="sm" class="mb-2">
Tel: 07774 887575 -->
<!-- </Button> -->
<Button href="/contact/" variant="primary" size="sm" class="mb-2">
  Contact Us
  </Button>