---
import Button from "../UI/Button.astro"; 
---

<Button href="mailto:info@greengardenersussex.com" variant="primary" size="sm" class="mb-2">
Email: info@greengardenersussex.com
</Button>
<!-- <Button href="tel:07774887575" variant="primary" size="sm" class="mb-2">
Tel: 07774 887575 -->
</Button>